# This repo contains modules that are generally shared between more than one
# project within Secure. As such, seemingly minor changes meant for one project
# can have unexpected impacts on another.
#
# For this reason only a group of leads with responsibilities at the Secure org level who
# have a good understanding of those impacts on their projects should have ownership, 
# and these members should coordinate if there is uncertainty.

* @hashicorp/team-secure-shared-tech-approvers
