name: Go

on: [push, workflow_dispatch]

jobs:
  test:
    strategy:
      matrix:
        module: ["awsutil",
                  "base62",
                  "configutil",
                  "fileutil",
                  "gatedwriter",
                  "kv-builder",
                  "listenerutil",
                  "mlock",
                  "nonceutil",
                  "parseutil",
                  "password",
                  "pluginutil",
                  "reloadutil",
                  "strutil",
                  "tlsutil"]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

    - name: Set up Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
      with:
        go-version-file: ${{ matrix.module }}/go.mod

    - name: Build
      run: cd ${{ matrix.module }} && go build ./...

    - name: Test
      run: cd ${{ matrix.module }} && go test ./...

  # Verify that every module folder is mentioned in this workflow file.
  verify-ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
    - run: find * -name go.mod -print0 | xargs -0 dirname | xargs -I % grep % .github/workflows/go.yml > /dev/null